.product-card-container {
  position: relative;
  margin: 10px;
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #f7fafc;
  border-radius: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  .product-image-text {
    position: relative;
    margin: 3px;
    margin-top: 3px;
    display: flex;
    height: 190px !important;
    overflow: hidden;
    border-radius: 1.5rem;
    justify-content: center !important;

    .product-image {
      object-fit: cover !important;
      width: 100%;
      transition: all ease 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    .discount-text {
      position: absolute;
      top: 7px;
      left: 8px;
      margin: 2px;
      border-radius: 9999px;
      background-color: #000000;
      padding: 5px;
      text-align: center;
      font-size: 0.75rem;
      font-weight: 500;
      color: #ffffff;
    }
  }

  .product-title {
    font-size: 1rem;
    letter-spacing: -0.025em;
    color: #1f2937;
  }

  .price-container {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .discounted-price {
      font-size: 1.875rem;
      font-weight: 700;
      color: #1d2d50;
    }

    .orignal-price {
      font-size: 0.875rem;
      color: #1d2d50;
      text-decoration: line-through !important;
    }

    .star-number {
      margin-right: 0.5rem;
      margin-left: 0.75rem;
      border-radius: 0.25rem;
      background-color: #fde047;
      padding: 0.125rem 0.625rem;
      font-size: 0.75rem;
      font-weight: 600;
    }
  }

  .add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: #1f2937;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  .add-to-cart-btn:hover {
    background-color: #374151;
  }

  .add-to-cart-btn:focus {
    outline: 2px solid #93c5fd;
    outline-offset: 2px;
  }
}
